.comicContainer{
	width: 950px;
	border: 1px solid #efefef;
}
.comicListTitle{
	border-bottom: 1px solid #efefef;
	height: 60px;
}
.comicListTitle h1{
	border-left: 3px solid #3591d5;
	padding-left: 10px;
	margin-left: 15px;
	float: left;
}
.comicListTitle .sort{
	float: right;
	margin-top: 25px;
	margin-right: 5px;
}

.comicContainer ul {
	padding: 0px;
	padding-left: 45px;
}
.comicContainer ul li{
	list-style-type: none;
	display: inline-block;
	margin-top: 15px;
	text-align: center;
}
.subscriptionOne{
	display: inline-block;
	width: 270px;
	padding: 5px;
	border:1px solid #efefef;
}
.subscriptionOne img{
	width: 90px;
	height: 150px;
}

.subscriptionOne .imgLink{
	display:inline-block;
	text-decoration: none;
	cursor: pointer;
	float: left;

}
.subscriptionOne .fontDes{
	font-size: 15px;
	color: #828282;
	margin-top: 10px;
	text-decoration: none;
}

.subscriptionOne .fontRed{
	color: red;
}
.subscriptionOne .comicType{
	font-size: 10px;
}


.subscriptionOne .buttonOrange{
	margin-top: 17px;
	background-color: orange;
	padding: 5px;
	margin-left: 5px;
}

.subscriptionOne .buttonBlue{
	margin-top: 17px;
	padding: 5px;
	margin-left: 5px;
}


.comicSearch{
	border: 1px solid #efefef;
}

.comicSearch ul{
	list-style-type: none;
}
.comicSearch ul li{
	margin-left: -20px;
	margin-bottom: 10px;
}
.comicSearch .searchItemIcon{
	width: 22px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
}
.comicSearch .searchFontTitle{
	font-size: 16px;
	color: #404040;
	font-family: "微软雅黑";
	display: inline-block;
	vertical-align: middle;
}
.comicSearch .searchItemIcon_bg1{
	background: url(../img/comicList/searchItem.png) no-repeat 0 0;
}
.comicSearch .searchItemIcon_bg2{
	background: url(../img/comicList/searchItem.png) no-repeat 0 -24px;
}
.comicSearch .searchItemIcon_bg3{
	background: url(../img/comicList/searchItem.png) no-repeat -3px -57px;
}
.comicSearch .searchItemIcon_bg4{
	background: url(../img/comicList/searchItem.png) no-repeat 0 -100px;
}

.searchComicType {
	padding-left: 10px;
	margin-top: 10px;
}
.searchComicType li{
	display: inline-block;
	margin:5px;
	padding: 5px;
	font-size: 12px;
}
.searchComicType li a{
	padding: 5px;
	cursor: pointer;
	text-decoration: none;
	color: #000;

}
.searchComicType li a:hover{
	background-color: #3591d5;
	color: #fff;
}
.searchComicType .searchActiveItem{
	padding: 4px;
	cursor: pointer;
	text-decoration: none;
	background-color: #3591d5;
	color: #fff;
	font-size: 12px;
}

/*猜你喜欢*/
.comicRecommend{
	display: inline-block;
	width: 230px;
	float: left;
	margin-top: 5px;
}
.comicRecommend .sameRecommend{
	border: 1px solid #efefef;
}
.comicRecommend .sameRecommend .recommendTitle{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #efefef;
	padding-left: 20px;
}
.comicRecommend .sameRecommend .recommendTitleLine{
	display: inline-block;
	border-left: 3px solid #efefef;
	height: 18px;
}
.comicRecommend .sameRecommend .recommendTitleFont{
	display: inline-block;
	font-size: 20px;
}
.sameRecommend ul{
	padding: 0px;
	list-style:none;
}
.sameRecommend ul li{
	margin-bottom: 10px;
}
.sameRecommend ul li img{
	margin-left: 20px;
	height: 80px;
	width: 70px;
}
.sameRecommend ul li div{
	display: inline-block;
	margin-right: 10px;
	position: absolute;
}
.sameRecommend ul li span{
	display: block;
	font-size: 15px;
	color: #828282;
	margin-bottom: 5px;
	margin-left: 20px;
}

/*翻页*/
.subscriptionLine{
	width: 880px;
	border-top: 1px solid #828282;
	border-bottom: 1px solid #efefef;
	margin-top: 20px;
	margin-bottom: 20px;
}
.subscriptionFooter{
	width: 400px;
	margin:0px auto;
} 
.subscriptionFooter .buttonWhite{
	padding:5px 10px 5px 10px;
	border-radius: 5px;
}