body{
	margin: 0;
	padding: 0;

}

/*面包屑导航*/
.breadTab{
	margin-top: 10px;
	margin-bottom: 10px;
}
.breadTab a{
	text-decoration: none;
	font-size: 10px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.breadTab .curComic{
	font-size: 10px;
	color: #828282;
}

.textLeft{
	float: left;
}
.textRight{
	float: right;
}

/*卡片翻转*/
.flip_container{
	-webkit-perspective:1000;
}
.flip_container:hover .flipper,.flip_container .hover .flipper{
	-webkit-transform-origin:52% 52%;
	-webkit-transform:rotateY(180deg);
} 
.flip_container,.front,.back{
	width: 300px;
	height: 100px;
}

.flipper{
	-webkit-transition:0.6s;
	-webkit-transform-style:preserve-3d;
	position: relative;
}
.flipper img{
	width:310px;
	height:95px;
}

.front,.back{
	-webkit-backface-visibility:hidden;
	position: absolute;
}

.front{
	z-index: 2;
}

.back{
	-webkit-transform-origin:52% 52%;
	-webkit-transform:rotateY(180deg);
}

/*首页布局样式*/

.top{
	height: 40px;
	width: 100%;
	position: fixed;
	background-color: #EFEFEF;
	z-index:1;
}

.top_container{
	margin: 0 auto;
	width: 1200px;
}

.top_grid{
	margin:0px auto;
	display: inline-block;
	width: 595px;
}
.top_grid a{
	text-decoration: none;
	cursor: pointer;
}
.top_grid .pcNavgate{
	list-style-type: none;
	padding: 0px;

}
.top_grid .pcNavgate_right{
	margin:0px;
}
.top_grid .pcNavgate li{
	display: inline-block;
	position: relative;
}

.top_grid .grid_wrap{
	margin-right: 12px;
	position: relative;
	float: left;
	height: 28px;
}
.top_grid .grid_wrap .topIcon img{
		width: 40px;
		height: 40px;
		border-radius:20px;
	}
	.top_grid .grid_wrap .topIcon{
		position: relative;
		vertical-align: middle;
		left: -50px;
		top:-35px;
	}
	.top_grid .grid_wrap .topIconText{
		position: relative;
		vertical-align: middle;
		display: flex;

	}
	.top_grid .grid_wrap  .topHiddePanle{
		position: absolute;
		top: 30px;
		left: 0px;
	}
	.top_grid .grid_wrap  .topHiddePanle .active{
		transition-property:height;
		height: 81px;
		transition-duration:1s;
	}
	.top_grid .grid_wrap  .topHiddePanle ul{
		margin:0px;
		padding: 0px;
		background-color: #C9AF2B;
		height: 0px;
		overflow: hidden;
	}
	.top_grid .grid_wrap  .topHiddePanle ul li{
		color: #efefef;
		padding-top: 5px;
		padding-bottom:5px;
		padding-left: 10px;
		width: 80px;
		font-size: 15px;
		padding-right: 10px;
		text-align: center;

	}
	.top_grid .grid_wrap  .topHiddePanle ul li a{
		color:#fff;
	}

/*顶部图标样式*/	
.mobileImg{
	display: inline-block;
}

.mobileFont{
	display: inline-block;
	color: #11B7F0;
	font-size: 15px;
}
.shopingcartFont{
	display: inline-block;
	color: #BA9B72;
	font-size: 15px;
}

.shareFont{
	display: inline-block;
	color: #62D85A;
	font-size: 15px;
}
.webFont{
	display: inline-block;
	color: #F471FF;
	font-size: 15px;
}

.mobile3{
	-ms-z-index: 10px;
	-webkit-z-index:10px;
	-moz-z-index:10px;
	border-color: #9f9f9f transparent transparent;
	border-style: solid dashed dashed;
	border-width: 3px 3px 0;
	font-size: 0;
	height: 0;
	width: 0;
	line-height: 0;
	display: inline-block;
	padding-bottom: 5px;
}

.top_grid .login{
	background-color: #404040;
	border-bottom:3px solid #7cc815;
	color: #fff;
	text-align: center;
	font-size: 25px;
	position: absolute;
	padding: 6px 10px 6px 10px;
	margin-left:-130px; 
	margin-top:-43px;
	width: 50px;
}

.top_grid .regist{
	font-size: 25px;
	color: #000;
	height: 28px;
	padding: 6px 10px 6px 10px;
	position: absolute;
	margin-left: -60px;
	margin-top: -43px;
	width: 50px;

}



.container{
	top: 180px;
	margin: 0 auto;
	width: 1200px;
}

/*左侧栏*/
.left{
		width: 950px;
		float: left;
	}

	.subLeft{
		margin:2px auto;
		height: 400px;
		width: 940px;
		border: 3px solid #efefef;
		padding: 5px;
		
	}
	.subLeft .subLeftOne{
		display: inline-block;
		vertical-align: top;
	}

	#ComicTitlePic_big{
		width: 620px;
		height: 400px;
	}
	#ComicTitlePic_big a{
		position: absolute;
	}
	#ComicTitlePic_big a img{
		width: 620px;
		height: 400px;
	}
	.subLeft .turnTitle{
		position: absolute;
		margin-top: -90px;
		color: #fff;
		font-size: 22px;
		margin-left: 20px;
		z-index: 1;
	}
	.subLeft .turnTitle ul{
		list-style:none;
		margin-top:10px;
		padding: 0px;
	}
	.subLeft .turnTitle ul li{
		float: left;
		margin-right: 20px;
	}
	.subLeft .turnTitle  img{
		height: 50px;
		width: 100px;
	}

.subleftFont{
	position: absolute;
	height:70px;
	padding: 10px;
	font-size:25px;
	background-color: #3A3A3A;
	opacity: 0.3;
	color: #fff;
	margin-top: -93px;
	width: 600px;
	background-color: #404040;
	text-align: center;
}

.subLeft .subLeftOne .bottomImgTurn{
	display: inline-block;
}
.subLeft .subLeftOne .bottomImgTurn img{
	width:150px;
	height:200px;
}


.subLeftBottom{
	margin:5px;
	float: left;
	width: 940px;
}

.subRowTitle{
	height: 52px;
}
.bg1{
	background: url('/ComicWeb/img/intdex-SLevel/main_tit_01.gif') no-repeat;
}
.bg2{
	background: url('/ComicWeb/img/intdex-SLevel/main_tit_02.gif') no-repeat;
}
.bg3{
	background: url('/ComicWeb/img/intdex-SLevel/main_tit_03.gif') no-repeat;
}
.bg4{
	background: url('/ComicWeb/img/intdex-SLevel/main_tit_04.gif') no-repeat;
}

.subRowTitle .leftSpan{
	float: left;
	margin-left: 180px;
	margin-top: 15px;
	color: #888;
	font-size: 10px;
}

.subRowTitle .rightSpan{
	float: right;
	margin-top: 15px;
	font-size: 10px;
	margin-right: 10px;
	color: #888;
}
.subRowTitle .rightSpan a{	
	color: #888;
}

.subRowContent{
	left: 0px;
	margin: 0 auto;
}
.subRowContent .leftSpan{
		float: left;
		width:0;   
		height:0;   
		border-top:30px solid transparent;   
		border-bottom:30px solid transparent;   
		border-right: 30px solid #B3B1B1;
		margin-top: 30px;
		cursor: pointer;
	}
	.subRowContent .rightSpan{
		width:0;   
		height:0;   
		border-top: 30px solid transparent;   
		border-bottom: 30px solid transparent;   
		border-left: 30px solid #B3B1B1;
		margin-top: 30px;
		cursor: pointer;
		position: absolute;
	}
.subRowContent ul{
	margin: 10px auto;
	list-style:none;
}
.subRowContent ul li{
	float: left;
	margin-right: 20px;
} 
.subRowContent .link{
	display: block;
	margin-top: 5px;
	text-align: center;
	margin-bottom: 5px;
	color: #000;
}
.subRowContent span{
	text-align: block;
	margin-top: 5px;
	text-align: center;
	font-size: 10px;
	color: #666;	
}


.right{
	width: 230px;
	float: right;
}
.subRight{
	margin: 0 auto;
	left: 0;
	margin-top: 5px;
	margin-right: 5px;
	border-bottom: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
}

.subRightTitle1{
	background:url('/ComicWeb/img/intdex-SLevel/subRight_01.gif') no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	color: #fff
}
.subRightTitle2{
	background:url('/ComicWeb/img/intdex-SLevel/subRight_02.gif') no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	color: #fff
}
.subRightTitle3{
	background:url('/ComicWeb/img/intdex-SLevel/subRight_03.gif') no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	color: #fff
}


.subRightContent{
	display: block;
}
.subRightContent ul{
	list-style: none;
	padding-left: 10px;
	margin-top: 5px;
}
.subRightContent ul  li{
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #efefef;
	padding-bottom: 10px;
}
.subRightContent a{
	text-decoration: none;
	font-size: 13px;
}
.subRightContent span{
	float: right;
	margin-right: 10px;
}

.subRightContent div{
	height: 14px;
	width: 14px;
	display: inline-block;
	background-position: 1px;
}

.seq_1{
	background: url('/ComicWeb/img/intdex-SLevel/digital__01.gif') no-repeat;
}
.seq_2{
	background: url('/ComicWeb/img/intdex-SLevel/digital__02.gif') no-repeat;
}
.seq_3{
	background: url('/ComicWeb/img/intdex-SLevel/digital__03.gif') no-repeat;
}
.seq_4{
	background: url('/ComicWeb/img/intdex-SLevel/digital__04.gif') no-repeat;
}
.seq_5{
	background: url('/ComicWeb/img/intdex-SLevel/digital__05.gif') no-repeat;
}
.seq_6{
	background: url('/ComicWeb/img/intdex-SLevel/digital__06.gif') no-repeat;
}
.seq_7{
	background: url('/ComicWeb/img/intdex-SLevel/digital__07.gif') no-repeat;
}
.seq_8{
	background: url('/ComicWeb/img/intdex-SLevel/digital__08.gif') no-repeat;
}
.seq_9{
	background: url('/ComicWeb/img/intdex-SLevel/digital__09.gif') no-repeat;
}
.seq_10{
	background: url('/ComicWeb/img/intdex-SLevel/digital__10.gif') no-repeat;
}

.footer{
	width: 1160px;
	background:url('/ComicWeb/img/bg_footer.png');
	float: left;
	border-top: 5px solid #79c90e;
	height: 170px;
	padding-left: 40px;
	margin:15px auto 0;
}
.footer .footerDiv{
	display: inline-block;
	width: 120px;
	margin:20px;
}
.footer .footerDiv .footerTitleBG1{
	background:url('/ComicWeb/img/intdex-SLevel/foot_pic_01.gif');
}
.footer .footerDiv .footerTitleBG2{
	background:url('/ComicWeb/img/intdex-SLevel/foot_pic_02.gif');
}
.footer .footerDiv .footerTitleBG3{
	background:url('/ComicWeb/img/intdex-SLevel/foot_pic_03.gif');
}
.footer .footerDiv .footerTitleBG4{
	background:url('/ComicWeb/img/intdex-SLevel/foot_pic_04.gif');
}
.footer .footerDiv span{
	font-size: 10px;
	color: #fff;
	margin-left: 30px;
}
.footer .footerDiv a{
	display: block;
	margin: 10px;
	font-size: 10px;
	color: #000;
	text-decoration: none;
}
.footer .footerLine{
	display: inline-block;
	border-right: 1px solid #000;
	height: 100px;
	margin-left: 50px;
}

.footer .footerNote{
	display: inline-block;
	font-size: 10px;
	color: #000;
	width: 350px;
	margin:20px;
	float: right;
}

.navgate{
	float: left;
	width: 100%;
}


/*导航背景*/

.navgateBGImage{
	background: url('/ComicWeb/img/bg_top.jpg') no-repeat;
	width: 1200px;
	height: 150px;
}


.navBar{
	margin: 0 auto;
	background-color: #3A3A3A;
	width: 1200px;
}

.navBar .navFirstGrid{
	margin-left: 20px;
	display: inline-block;
	font-size: 18px;
}

.navBar .navGrid{
	display: inline-block;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;

}
.fontStyle{
	font-size: 18px;
	line-height: 40px;
}
.fontLine{
	margin-left: 25px;
	width: 0px;
	border-left: 1px solid #2e2e2e;
	border-right: 1px solid #424242;
}
.navBar a{
	cursor: pointer;
	text-decoration:none;
}

/*导航下面注解*/
.navBarAnnote{
	background-color: #88DB15;
	font-size: 15px;
	color: #fff;
	padding: 3px;
}
.navBarAnnoteFirst{
	margin-left: 20px;
}
.navBarAnnote a{
	text-decoration: none;
	color: #000;
}

/*error404页面*/
.error404{
	width: 1024px;
	height: 768px;
	margin:0px auto;
	background: url('/ComicWeb/img/error404.jpg') no-repeat;
}

/*button*/
.buttonGroup{
	margin-top: 20px;
	border-bottom: 1px solid #efefef;

}
.button{
	display: inline-block;
	padding: 10px;
	font-size: 15px;
	color: #fff;
	background-color: #3591d5;
	text-decoration: none;
	cursor: pointer;
}

	.ComicTitlePic_big img{
		width: 620px;
		height: 400px;
	}

	.cardImageWrapIcon { 
		-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4); 
		-moz-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4); 
		box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4); 
		-webkit-border-radius: 5px; 
		-moz-border-radius: 5px; 
		border-radius: 5px; 
	} 

	.cardImageWrap {   
		-webkit-box-shadow: 3px 3px 3px rgba(94, 97, 93, 0.5);  
		-moz-box-shadow: 3px 3px 3px rgba(94, 97, 93, 0.5);  
		box-shadow: 3px 3px 3px rgba(94, 97, 93, 0.5); 
	}
	.subLeft .subLeftOne .imgContainer{
		margin-bottom: 5px;
	}
	.subLeft .subLeftOne .buttonImgTurn1{
		position: relative;
		width: 310px;
		height: 95px;
	}
	.subLeft .subLeftOne .buttonImgTurn1 a{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
	}
	.buttonImgTurn1 a img{
		width: 100%;
		height: 100%;

	}

	.subLeft .subLeftOne .buttonImgTurn{
		display: inline-block;
		position: relative;
		width: 150px;
		height: 200px;
	}
	.buttonImgTurn a{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;

	}
	.buttonImgTurn a img{
		width: 100%;
		height: 100%;
	}

	/***分享****/
	.side-bar a,.chat-tips i {background: url('/ComicWeb/img/global/right_bg.png') no-repeat;}
										.side-bar {width: 66px;position: fixed;bottom: 20px;right: 25px;font-size: 0;line-height: 0;z-index: 100;}
										.side-bar a {width: 66px;height: 66px;display: inline-block;background-color: #ddd;margin-bottom: 2px;}
										.side-bar a:hover {background-color: #669fdd;}
										.side-bar .icon-qq {background-position: 0 -62px;}
										.side-bar .icon-chat {background-position: 0 -130px;position: relative;}
										.side-bar .icon-chat:hover .chat-tips {display: block;}
										.side-bar .icon-blog {background-position: 0 -198px;}
										.side-bar .icon-mail {background-position: 0 -266px;}
										.side-bar .icon-totop {background-position: 0 -334px;}
										.chat-tips {padding: 20px;border: 1px solid #d1d2d6;position: absolute;right: 78px;top: -55px;background-color: #fff;display: none;}
										.chat-tips i {width: 9px;height: 16px;display: inline-block;position: absolute;right: -9px;top: 80px;background-position:-88px -350px;}
										.chat-tips img {width: 138px;height: 138px;}
	